
<md-dialog-content class="md-dialog-content" id="dialog_45">
  <h2 class="md-title">Login</h2>
  <form name="item.form" ng-submit="ctrl.sendLoginForm()" class="ng-pristine ng-invalid ng-invalid-required ng-valid-min ng-valid-max">
    <div layout="row" class="input-row layout-row">
      <md-input-container flex="" class="flex">
        <label for="input_31">Email</label>
        <input name="email" type="email" ng-model="form.email" required="true" class="ng-pristine ng-untouched md-input ng-invalid ng-invalid-required" id="input_31" aria-required="true" aria-invalid="true" ng-trim="false">
      <div class="md-errors-spacer"></div>
      </md-input-container>
    </div>
    <div layout="row" class="input-row layout-row">
      <md-input-container flex="" class="flex">
        <label for="input_32">Password</label>
        <input name="password" type="password" ng-model="form.password" required="true" class="ng-pristine ng-untouched md-input ng-valid-min ng-valid-max ng-invalid ng-invalid-required" id="input_32" aria-required="true" aria-invalid="true">
      <div class="md-errors-spacer"></div></md-input-container>
    </div>
  </form>
</md-dialog-content>
<div class="md-dialog-actions">
  <button class="md-primary md-button md-ink-ripple" type="button"  ng-click="ctrl.sendLoginForm()" ng-disabled="item.form.$invalid" aria-label="Add Item" aria-disabled="true" disabled="disabled"><span>Login</span></button>
  <button class="md-primary md-button md-ink-ripple" type="button" ng-click="ctrl.cancel()" aria-label="Cancel"><span>Cancel</span></button>
</div>